.app{
    background-color:#8d9f84;
}

.result{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 45px 50px;
   
}

.cardcantainer{
    max-width: 25%;
 
}
.cardimage{
    text-align: center;
    padding-top: 15px;
   
}


